.container{
    max-width: 600px;
}

.header-text{
    font-size: 24px;
    text-align: center;
}

.item-block{
    display: block;
    outline: 1px solid gray;
    background: #e8e8e8;
}

.item-block-name{
    font-size: 24px;
}

