{%extends "template.html"%}
{%block content%}
<div class="container p-5">
    <h1>About Page</h1>
    <p>
        This is Resource Market, a python university project.<br>
        The project is a website made with Flask framework.<br>
        Databases are handled by SQLAlchemy module.<br>
        The website has the following functionality:<br>
        1) Create, Read, Update and Delete for users and items.<br>
        2) User authentication.<br>
        3) Buy/Sell system with balance and item depletion.<br>
        4) Search.<br>
        5) Pagination.<br>

    </p>
</div>
{%endblock content%}
