<!DOCTYPE html>
<html>
    <head>
        {%if title%}
            <title>Resource Market | {{title}}</title>
        {%else%}
            <title>Resource Market</title>
        {%endif%}
        <style>
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
                   -webkit-appearance: none;
                    margin: 0;
            }

            input[type=number] {
                -moz-appearance: textfield;
            }
        </style>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='custom.css')}}">

    </head>
    <body>
        <nav class="sticky-top navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Tenth navbar example">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{url_for('home')}}">Market</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('my_items')}}">My Items</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('new_item')}}">Add Item</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('about')}}">About</a>
                        </li>
                        {% if current_user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{url_for('profile')}}">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{url_for('balance_page')}}">Balance: ${{current_user.balance}}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{url_for('logout')}}">Log Out</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        {% with messages = get_flashed_messages(with_categories=true)%}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="text-center alert alert-{{category}}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {%block content%}{%endblock content%}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>
